{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://kit.fontawesome.com/a13e3d893a.js" crossorigin="anonymous"></script>
		{% tailwind_css %}
	</head>
	{% include 'base/navbar.html' %}
	<body class="bg-slate-500 font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
		</div>
	</body>

</html>
