<div class="space-y-4 max-w-2/3">
  {% for post in posts %}
  <div class="bg-white p-4 rounded-lg shadow">
      {% if request.user == user %}
      <div class="md:flex justify-end space-x-6">
          <a href="{% url 'post-delete' post.id %}"><i class="fa-regular fa-trash-can"></i></i></a>
          <a href="{% url 'post-edit' post.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
      </div>
      {% endif %}
      <div style="vertical-align: middle;">
        <img src="{{ post.author.profile.picture.url }}" alt="" style="width: 50px; height: 50px; border-radius: 50px; float:left;">
      </div>
      <h3 class="font-bold  mt-2">
        <a href="{% url 'profile' post.author.profile.pk %}" class="space-x-4">@{{post.author.username}} {{ post.author.name }}
        </a>
        <span>{{ post.created_on|timesince }}</span>
      </h3>
      <br>
      
      <p><a href="{% url 'post-detail' post.id %}">{{ post.body }}</a></p>
      {% if post.image %}
        <img src="{{ post.image.url }}" alt="" style="height: 50vh; max-width: 50%; margin-top: 10px; border-radius: 10px;">
      {% endif %}
      <div class="flex flex-row space-x-12 mt-8 mx-6">
      
        <form action="{% url 'post-like' post.pk %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path}}">
          <button><i class="fa-regular fa-thumbs-up"></i><span>{{ post.likes.all.count }}</span></button>
        </form>
      

      
        <form action="{% url 'post-dislike' post.pk %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <button><i class="fa-regular fa-thumbs-down"></i><span>{{ post.dislikes.all.count }}</span></button>
        </form>
      
          <button>
            <a href="{% url 'post-detail' post.pk %}"><i class="fa-regular fa-comment"></i></a>
        </button>
          <button><i class="fa-solid fa-share"></i></button>
      </div>
  </div>
  {% endfor %}
</div>