{% load static %}

<style>
  .d-none{
    display: none;
  }
</style>
<div class="container relative p-6">
  <span onclick="showNotifications()">{{ notification.count }}</span>
  <div class="flex flex-row p-1 d-none" id="notification-container">
    <!-- Post Notifications -->
    {% for notification in notifications %}
      {% if notification.post %}
        <!-- Post Like Notificaion -->
        {% if notification.notification_type == 1 %}
        <div class="lex flex-row">
          <a href="{ url 'post-notification' notification.pk post.pk %}">@{{notification.from_user}} Liked your post</a>
          <span onclick="removeNotification(`{% url 'notification-remove' notification.pk %}`, `{{ request.path }}`)">&times;</span>
        </div>
        
        <!-- End Post Like Notifications -->

        <!-- Post comment Notifications -->
        {% if notification.notification_type == 2 %}
        <div class="flex flex-row">
          <a href="{% url 'post-notification' notification.pk post.pk %}">@{{ notification.from_user }} commented on your post</a>
          <span onclick="removeNotification(`{% url 'notification-remove' notification.pk %}`, `{{ request.path }}`)">&times;</span>
        </div>
        {% endif %}
        <!-- End Post comment Notifications -->
      {% endif %}

      <!-- Comment Notifications -->
       {% if notification.comment %}
       <!-- Comment Like Notifications -->
        {% if notification.notification_type == 1 %}
        <div class="flex flex-row">
          <a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}">@{{ notification.from_user }} Liked your comment</a>
          <span onclick="removeNotification(`{% url 'notification-remove' notification.pk %}`, `{{ request.path }}`)">&times;</span>
        </div>
        {% endif %}
       <!-- End comment Like Notifications -->

       <!-- Comment Reply Notification -->
        {% if notification.notification_type == 2 %}
        <div class="flex flex-row">
          <a href="{% url 'post-notification' notification.pk notification.comment.post.p}">@{{ notification.from_user }} replied to your comment</a>
          <span onclick="removeNotification(`{% url 'notification-remove' notification.pk %}`, `{{ request.path }}`)">&times;</span>
        </div>
        {% endif %}
       <!-- End Comment Reply Notification -->
       {% endif %}
      <!-- End Comment Notifications -->
      <!-- Follow Notification -->
       {% else %}
       <div class="flex">
        <a href="{% url 'follow-notification' notification.pk notification.from_user.pk %}">@{{ notification.from_user }} started following you</a>
        <span onclick="removeNotification(`{% url 'notification-remove' notification.pk %}`, `{{ request.path }}`)">&times;</span>
       </div>
       {% endif %}
    {% endfor %}
    <!-- End Post Notificatons -->
  </div>
</div>

